<h1>사용자 관리</h1>
<p>
	<div id="myOutput">
	</div>
<p>
<p><input id="myButton" value="조회" type="button" onClick="getUsers()"/></p>
<form id="form1" name="form1">
<div>
<ul>
<li>id : <input type="text" id="userid"></li>
<li>username : <input type="text" id="username"></li>
<li>phone : <input type="text" id="phone"></li>
</ul>
</div>
</form>
<p>
	<input id="myButton" value="등록" type="button" onClick="addUser()"/>
	<input id="myButton" value="수정" type="button" onClick="updateUser()"/>
</p>
